<div>
    <h2>Role Selection</h2>
    <select [(ngModel)]="employeeRole">
        <option value="">Select Role</option>
        <option value="Admin">Admin</option>
        <option value="HR">HR</option>
        <option value="Marketing">Marketing</option>
        <option value="Developer">Developer</option>
        <option value="Analyst">Analyst</option>
    </select>

    <div [ngSwitch]="employeeRole">
        <div *ngSwitchCase="'Admin'">
            <h1>List of Employees</h1>
            <h3>Selected Role: Admin</h3>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees()" [hidden]="emp.role !== 'Admin'">
                        <td>{{ emp.id }}</td>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.role }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngSwitchCase="'Marketing'">
            <h1>List of Employees</h1>
            <h3>Selected Role: Marketing</h3>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees()" [hidden]="emp.role !== 'Marketing'">
                        <td>{{ emp.id }}</td>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.role }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngSwitchCase="'Analyst'">
            <h1>List of Employees</h1>
            <h3>Selected Role: Analyst</h3>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees()" [hidden]="emp.role !== 'Analyst'">
                        <td>{{ emp.id }}</td>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.role }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngSwitchCase="'Developer'">
            <h1>List of Employees</h1>
            <h3>Selected Role: Developer</h3>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees()" [hidden]="emp.role !== 'Developer'">
                        <td>{{ emp.id }}</td>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.role }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngSwitchCase="'HR'">
            <h1>List of Employees</h1>
            <h3>Selected Role: HR</h3>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees()" [hidden]="emp.role !== 'HR'">
                        <td>{{ emp.id }}</td>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.role }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngSwitchDefault>
            <h3>Please select a role</h3>
        </div>
    </div>
</div>